.contact h1 {
  color: #2c3e50;
}

.form-control:focus {
  box-shadow: unset;
}

.moveLabel {
  top: 40px !important;
}
label {
  color: #1abc9c;
  margin-top: 7px;
  transition: 0.6s top;
}

button {
  position: relative;
  display: inline-block;
  padding: 7px 10px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  color: #1abc9c;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #1abc9c;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #1abc9c;
}

button:hover {
  color: #fff;
  box-shadow: inset 0 -100px 0 0 #1abc9c;
}

button:active {
  transform: scale(0.9);
}
/* button, button:hover{
    background-color: #1abc9c;
    color: #fff;
    transition: .6s all ;
} */
