<!-- <div
  (click)="hideLayer()"
  class="model mo1 position-fixed d-none bg-primary bg-opacity-25 start-0 w-100 h-100 d-flex align-items-center justify-content-center"
>
  <img width="600" src="./assets/images/poert1.png" alt="model" />
</div>

<section class="portfolio">
  <div class="container py-5">
    <h1 class="text-center fw-bold">PORTFOLIO COMPONENT</h1>
    <div class="d-flex align-items-center justify-content-center">
      <div class="leftLine me-3"></div>
      <i class="z-3 fas fa-star py-3"></i>
      <div class="rightLine ms-3"></div>
    </div>
    <div class="row g-4">
      <div class="col-md-4">
        <div class="overflow-hidden position-relative rounded-3">
          <img
            src="./assets/images/poert1.png"
            alt="one"
            class="img-fluid rounded-3"
          />
          <div
            (click)="showLayer($event)"
            class="layer position-absolute top-0 d-flex align-items-center justify-content-center"
          >
            <i class="fas fa-plus fa-6x"></i>
          </div>
        </div>
      </div>
  </div>
</section> -->

<!-- *******************************Modal******************************* -->
<div
  class="model position-fixed bg-primary bg-opacity-25 start-0 w-100 h-100 d-flex align-items-center justify-content-center"
  (click)="closeModal($event)"
  *ngIf="showModal == true"
>
  <img
    *ngIf="selectedImage"
    width="600"
    [src]="selectedImage"
    alt="Modal image"
  />
</div>

<section class="portfolio pt-5">
  <div class="container py-5">
    <h1 class="text-center fw-bold">PORTFOLIO COMPONENT</h1>
    <app-star [color]="iconColor"></app-star>
    <div class="row g-4">
      <div class="col-md-4" *ngFor="let image of images">
        <div class="overflow-hidden position-relative rounded-3">
          <img src="{{ image.src }}" alt="{{ image.alt }}" class="img-fluid" />
          <div
            (click)="openModal(image.src)"
            class="layer position-absolute top-0 d-flex align-items-center justify-content-center"
          >
            <i class="fas fa-plus fa-6x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
